*.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
_ide_helper.php
.phpactor.json

.env
.env.backup
.env.production
/storage/*.key
/auth.json

/node_modules
/vendor
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

/.phpunit.cache
.phpunit.result.cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail

/.idea
/.vscode
/.zed
/.nova
